#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.form {
  width: 400px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;

  .form-content {
    width: 100%;
    .passport-section {
      display: flex;
      gap: 10px;
      align-items: start;
    }
    .form-item {
      margin: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      .input-area {
        position: relative;
        width: 100%;
      }
      label {
        margin: 0 0 10px 0;
        min-height: 25px;
        text-wrap: nowrap;
      }
    }
    p {
      text-align: start;
    }
    .button-section {
      display: flex;
      justify-content: flex-start;
      gap: 10px;
    }
  }
}

.input-error-message {
  color: #ff0000;
  font-size: 14px;
  text-align: left;
}
.input-error-message::before {
  content: '*  ';
}
.input-error {
  .text-input {
    border: 1px solid #ff0000;
    box-shadow: -1px 1px 20px 5px rgba(255, 0, 0, 0.2) inset;
  }
  label {
    color: #ff0000;
  }
}
.input-error input::placeholder {
  color: #ff0000;
}

input {
  width: 100%;
  display: block;
  outline: none;
  border-radius: 2px;
  height: 40px;
  border: 1px solid #3d3d3d;
  padding: 10px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
}

button {
  font-size: 11px;
  min-width: 100px;
  border: none;
  padding: 10px 15px 10px 15px;
  border-radius: 4px;
  background-color: #000;
  color: #fff;
  cursor: pointer;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
}
.button-outline {
  background-color: #fff;
  color: #000;
  border: 1px solid #000;
}
.datepicker-container {
  position: absolute;
  right: 10px;
  top: 5px;
}
.datepicker {
  width: 15px;
  height: 15px;
  cursor: pointer;
  position: relative;
  background-color: transparent;
  border: 0px;
  background-image: url('./assets/calendar.svg');
  background-position: center;
  background-size: contain;
}
